@import url("./fonts/fonts.css");
html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  margin-top: 3em;
}
p,
ul,
ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}
h1 {
  margin-bottom: 1em;
  text-shadow: 0.04em 0.04em 0 #fff, 0.08em 0.08em 0 #aaa;
  -webkit-text-shadow: 0.04em 0.04em 0 #fff, 0.08em 0.08em 0 #aaa;
}
