@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
:root {
  --header-font-color: #edf8f1;
  --main-font-color: black;
  --bg-color: #06065b;
  --bg-color-light: rgba(6, 6, 91, 0.75);
  --bg-yellow: rgba(249, 195, 0, 1);
  --bg-light-yellow: rgba(249, 195, 0, 0.75);
  --bg-main: rgba(220, 220, 220, 1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header li,
header a,
header button,
header p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--header-font-color);
  text-decoration: none;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--header-font-color);
  text-decoration: none;
}
body,
html {
  height: 100%;
}
.icon {
  color: var(--header-font-color);
}
main {
  background-color: var(--bg-main);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--main-font-color);
  text-decoration: none;
}
header {
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 4%;
  background-color: var(--bg-color);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + main {
  padding-top: 83px;
}
img {
  max-width: 100%;
  height: auto;
}
#div-image {
  height: auto;
  width: 181px;
}
.social-container {
  display: grid;
  row-gap: 4px;
  margin: 1em 0;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "button"
    "social";
}
#social {
  grid-area: social;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
#donate {
  grid-area: button;
}
.logo {
  cursor: pointer;
  margin-right: auto;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 4px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}
.icon:hover {
  color: #0088a9;
}
.icon {
  transition: all 0.3s ease 0s;
}
button {
  padding: 9px 25px;
  background-color: var(--bg-yellow);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: var(--bg-light-yellow);
}
i {
  cursor: pointer;
}
.flex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  position: relative;
  margin: 0;
  overflow: hidden;
  z-index: 2;
}
.flex-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -1px;
  margin-right: 1em;
  white-space: nowrap;
}
.flex-list li {
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
  border-left: 1px solid var(--header-font-color);
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--header-font-color);
  margin: 5px;
  border-radius: 2px;
}
.flags {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 1em;
}
.flag {
  width: 100%;
  height: auto;
}
.flag-image {
  height: auto;
  width: initial;
}
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("https://raw.githubusercontent.com/dpsoccerdude101/dpsoccerdude101.github.io/master/RocMaidan/banner.jpg");

  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  -ms-flex-align: center;
}
.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  justify-self: center;
  -ms-flex-align: center;
  height: 125px;
  /*   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
#donate-banner {
  font-size: 22px;
}
#rocMaidanSquareLogo {
  width: 65px;
  height: auto;
  border-radius: 50%;
  border: 1px solid white;
}
.flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  height: 3em;
}
.ufcu-div {
  height: auto;
  width: 181px;
}
.ufcu-logo {
  max-width: 100%;
  height: auto;
}
.unwla-div {
  height: auto;
  width: 181px;
}
.unwla-logo {
  max-width: 100%;
  height: auto;
}
.ucc-div {
  height: auto;
  width: 181px;
}
.ucc-logo {
  max-width: 100%;
  height: auto;
}
.about-us {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: grid;
  grid-template-columns: repeat(44, 1fr);
  grid-template-rows: repeat(110, 1fr);
  /* grid-template-rows: 84px 1fr 84px; */
}
.about-us-div {
  height: auto;
  width: auto;
  /* width: 70vw; */
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 4;
  grid-column-end: 33;
}
.about-us-img {
  max-width: 100%;
  height: auto;
}
.about-us-box {
  height: inherit;
  /* width: 30vw; */
  grid-row-start: 22;
  grid-row-end: 90;
  grid-column-start: 29;
  grid-column-end: 42;
  font-size: 1.25vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1em;
  background-color: white;
}
.about-us-paragraph {
  margin-top: 1em;
  /* font-size: 1.25vw; */
}
h2.about-us-header {
  text-align: center;
  color: rgb(47, 84, 150);
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  .banner {
    height: 50vh;
  }
  #div-image {
    height: auto;
  }
  a {
    font-size: 16px;
    transition: 1s;
  }
  .flex-list ul {
    align-items: center;
    flex-shrink: 2;
  }
  .flags {
    margin-left: 0.5em;
  }
}
@media screen and (max-width: 850px) {
  #div-image {
    width: 108.6px;
  }
  .social-container {
    margin: 0.5em 0;
  }
}
@media screen and (max-width: 768px) {
  header li,
  header a,
  header button,
  header p {
    font-size: 22px;
  }
  .social-container {
    margin: 1em 0;
  }

  .burger {
    display: block;
    z-index: 2;
    cursor: pointer;
  }
  #div-image {
    height: auto;
    width: 135.75px;
    padding: 1%;
  }
  header {
    padding: 0% 4%;
    height: 91.5px;
  }
  .flex-list {
    box-shadow: inset 0px 1px white;
    display: flex;
    position: fixed;
    height: 475px;
    width: 0;
    margin: 0;
    overflow: hidden;
    top: 91.5px;
    right: 0px;
    background-color: var(--bg-color);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    transition: width 1s ease-in-out;
    pointer-events: all;
  }
  .flex-list.closed {
    width: 0px;
    pointer-events: all;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .flex-list.open {
    width: 225px;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .flex-list ul {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 185px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: auto;
    margin-top: 40px;
    align-items: flex-start;
  }
  .flex-list li {
    border: 0;
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    height: 0;
    overflow: hidden;
  }
  #social a {
    font-size: 2em;
    /* margin-right: auto; */
  }
  #social {
    justify-content: space-between;
  }
  .social-container {
    grid-template-rows: 1fr 1fr;
  }
  .flags {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0.75em;
    margin-bottom: 1em;
    margin-left: 0;
  }
  .flag {
    width: 100%;
    height: auto;
  }
  .flag-image {
    height: auto;
    width: 40px;
  }

  .about-us {
    padding-top: 6vh;
    padding-bottom: 6vh;
    grid-template-columns: 389fr 427fr;
    grid-template-rows: 1fr;
  }
  .about-us-div {
    height: auto;
    /* width: 47.67156%; */
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
  .about-us-img {
    max-width: 100%;
    height: auto;
  }
  .about-us-box {
    height: auto;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    
    font-size: 1.65vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1em;
    background-color: white;
  }
  .about-us-paragraph {
    margin-top: 1em;
    /* font-size: 1.25vw; */
  }
  h2.about-us-header {
    text-align: center;
    color: rgb(47, 84, 150);
    font-weight: bold;
    text-decoration: underline;
  }
}
