@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
:root {
  --font-color: #edf8f1;
  --bg-color: #06065b;
  --bg-yellow: rgba(249, 195, 0, 1);
  --bg-light-yellow: rgba(249, 195, 0, 0.75);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: var(--bg-color); */
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--font-color);
  text-decoration: none;
}
i {
  color: var(--font-color);
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 4%;
  background-color: var(--bg-color);
}
img {
  max-width: 100%;
  height: auto;
  /* border-radius: 50%; */
  /* border: 10px solid var(--font-color); */
}
#div-image {
  height: auto;
  width: 181px;
}
.social-container {
  display: grid;
  row-gap: 4px;
  margin: 1em 0;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "button"
    "social";
}
#social {
  grid-area: social;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
#donate {
  grid-area: button;
}
.logo {
  cursor: pointer;
  margin-right: auto;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 4px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}
button {
  padding: 9px 25px;
  background-color: var(--bg-yellow);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: var(--bg-light-yellow);
}
/* li + li::before {
    content: " | ";
} */

.flex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  position: relative;
  margin: 0;
  overflow: hidden;
}
.flex-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1px;
  margin-right: 1em;
}
.flex-list li {
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
  border-left: 1px solid var(--font-color);
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--font-color);
  margin: 5px;
  border-radius: 2px;
}
@media screen and (max-width: 1024px) {
  #div-image {
    /* padding: 1% 1%; */
    height: auto;
  }
  .flex-list ul {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
    z-index: 2;
    cursor: pointer;
  }
  #div-image {
    height: auto;
    width: 135.75px;
    padding: 1%;
  }
  header {
    padding: 0% 4%;
    height: fit-content;
  }
  .flex-list {
    height: 0;
    width: 0;
    transition: width 1s ease-in-out;
  }
  .flex-list.open {
    display: flex;
    position: fixed;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 35vw;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    pointer-events: all;
    /*     -webkit-transition:all .26s ease-in-out;
    -moz-transition:all .26s ease-in-out;
    -ms-transition:all .26s ease-in-out;
    -o-transition:all .26s ease-in-out; */
    transition: width 0.5s ease-in-out;
  }
  .flex-list ul {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 30vh;
    /* margin: auto 0; */
  }
  .flex-list li {
    color: black;
    border: 0;
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
  }
}
