@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
:root {
    --font-color: #edf8f1;
    --bg-color: #242524;
    --bg-yellow: rgba(249,195,0,1);
    --bg-light-yellow: rgba(249,195,0,0.5);
  }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--font-color);
  text-decoration: none;
  
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
img {
    max-width:100%;
    height:auto;
}
#div-image {
   height: 38px;
   width: 38px; 
}
.social-container {
    display: grid;
    row-gap: 4px;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "button"
    "social"
    ;
}
#social {
    grid-area: social;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#donate {
    grid-area: button;
}
/* #facebook {
    grid-area: facebook;
}
#twitter {
    grid-area: twitter;
}
#instagram {
    grid-area: instagram;
}
#search {
    grid-area: search;
} */

.logo {
    cursor: pointer;
    margin-right: auto;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 4px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #0088a9;
}
button {
    padding: 9px 25px;
    background-color: var(--bg-yellow);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button:hover {
    background-color: var(--bg-light-yellow);
}
/* li + li::before {
    content: " | ";
} */


.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
}
.flex-list ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}
.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    border-left: 1px solid var(--font-color);
}



/* flex-nav {
    display: grid;
    grid-template-areas: 
    
    ;
}
.organizers {
    grid-area: organizers;
}
.fundManagers {
    grid-area: fundManagers;
} */
