body {
    margin: 0; 
    width: 550px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
 }
.grid-container {
  display: grid;
  grid-template-areas:
    "title"
    "form"
    "total"
    "gridBtns";
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 360px 80px 145px;
  border: 1px solid black;
}
.title {
  grid-area: title;
  margin: 0 auto;
  justify-items: center;
}
.gridBtns {
    grid-area: gridBtns;
}
h1 {
  text-align: center;
}
select {
  width: 335px;
  height: 40px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 0 1px gray;
  border-radius: 1px;
}
.form {
  grid-area: form;
  margin: auto;
}
form > fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 40px;
}
input {
  height: 40px;
  width: 80%;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 0 1px gray;
  border-radius: 1px;
  direction: rtl;
  padding: 0 4px 0 0;
  /*   
  width: 300px;
  height: 40px;
  border: 1px solid black;
  box-shadow: 0 1px gray;
  direction: rtl;
  padding: 0 4px 0 0;
  border-radius: 1px;
  flex: 0 0 350px;
  margin-left: 10px;
  justify-self: flex-end;
  text-align: right; */
}
#ties {
  margin: 10px 10px 10px 1.45em;
}
label {
  display: inline-block;
  width: 100%;
  padding: 0 5% 0 0;
  text-align: left;
}
.total {
  grid-area: total;
  margin: 0 40px;
  padding: 10px 12px;
  display: flex;
}
#totalBill {
  width: 14%;
  height: 40px;
  display: inline-block;
  text-align: none;
  padding: 0;
  text-align: center;
  position: relative;
}
#output {
  border: 1px solid black;
  box-shadow: 0px 1px gray;
  width: 330px;
  height: 45px;
  margin: 0 0 0 20px;
  text-align: center;
}
button {
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 1px gray;
  width: 110px;
  height: 45px;
}
#calculate {
    margin: 0 70px 0 130px;
}
/* margin: 0 100 0 130*/

