@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    width: 295px;
    height: 255px;
}
.grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "title"
    "input"
    "submit"
    ;
    grid-template-columns: 295px;
    border: 1px solid black;
    margin: 0;

}
.title {
    grid-area: title;
}
h1 {
    text-align: center;
    margin: 10px;
    color: #577935;
}
.input {
    grid-area: input;
}
.submit {
    grid-area: submit;
    text-align: right;
    margin: 0 45px 0 0;
}
form {
    display: table;
    margin: 0 4px;
}
div.username {
    display: table-row;
}
div.password {
    display: table-row;
}
#usernameLabel, #passwordLabel {
    display: table-cell;
}
#username, #password {
    display: table-cell;
    margin: 8px;
    border-radius: 4px;
}
